doctype html
html(lang='eng')
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(res='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body
		block content
