body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    color: #00B7FF;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}
label {
    font-size: 1.5em;
    margin: 5%;
}
input, select {
    height: 2em;
}
input {
    margin: .8em !important;
}
.backBtn {
    margin-bottom: .8em !important;
}
